@charset "UTF-8";
/* CSS Document */


/* Global Styles
------------------*/

ul {                                   
text-align: left;                   
list-style: none;                  
}
ul li {                                 
font: bold 12px/18px sans-serif;
display: inline-block;          
position: relative;                
padding: 20px 20px;
background: #85DDDD;              
cursor: pointer;
width: auto;
}
ul li:hover {                        
background: #E6ADDC;             
color: #fff;                        
}
ul li ul {                            
padding: 0;                       
position: absolute;              
top: 48px;                        
left: -10000px;                 
width: 150px;                  
}
ul li ul li {                        
background: #E6ADDC;           
display: block;                 
color: #fff;                     
}
ul li ul li:hover { background: #85DDDD; } 
ul li:hover ul {                 
display: block;                
left :0px;                        
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E6ADDC;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


html{
	box-sizing: border-box;
}
*,*:before, *:after {
	box-sizing: inherit;
}





body {
	color:#575151;
	margin: 0;
	padding: 0;
	font-family: upgrade, sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	text-align: center
}
img {
	width: 300px;
}

a {
	color: antiquewhite;
}
a:hover {
	text-decoration: none;
	color: aqua;
}
h1 {
	font-size: 75px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	text-align: center;
	text-shadow: 0 1px 0 #E6ADDC,
               0 2px 0 #E6ADDC,
               0 3px 0 #E6ADDC,
               0 4px 0 #b9b9b9,
               0 5px 0 #E6ADDC,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	font-family: Cambria, , "Liberation Serif" , "serif";
}
h2 {
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	text-align: center;
	text-decoration-line: underline;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-style: oblique;
	line-height: 2.5;
	text-align: center
}
.content-wrap {
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0;
}

/* Profile
------------------*/
header {
	background: #85DDDD;
	font-family: upgrade, sans-serif;
	font-style: italic;
	font-weight: 500;
	line-height: 2.5;
}


/* Projects
------------------*/
.projects {
	background: #E6ADDC;
}


/* Work Experience
------------------*/
.work-experience {
	background: #85DDDD;
	
}
.job-item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 20px;
}


/* Education
------------------*/
.education {
	background: #E6ADDC;
}


/* Contact Info
------------------*/
footer {
	background: #85DDDD;
	text-align: center;
}